div {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    border-radius: 10%;
    background-color: rgb(165, 92, 92);
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    padding: 1px 2px 3px 4px;
}